
.Footer{
    background-color: #333745;; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 100%;
    width: 100%;
    padding: 1.5%;
    
}
.FooterLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.FooterRight{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    font-size: x-large;
}

.linkItem{
    
}

.linkItem:hover{
    color: #FE5F55; 
    cursor: pointer;
}

/* mobile media query */
@media screen and (max-width: 600px) {
.Footer{
    flex-direction: column-reverse;
    padding: 2%;
    
}
.FooterLeft{
    width: 100%;
    justify-content: space-evenly;
}
}